services:
  latest:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: safe-pc
    network_mode: host
    restart: unless-stopped
    environment:
      PYTHONUNBUFFERED: "1"
      HOST_IP: "${HOST_IP:-10.0.4.2}"

      # Proxmox settings
      PROX_USER: "${SAFE_USER:-root}"
      PROX_DNS: "${PROX_DNS:-192.168.1.254}"
      PROX_TZ: "${PROX_TZ:-America/New_York}"
      PROX_CIDR: "${PROX_CIDR:-192.168.38/24}"
      PROX_GATEWAY: "${PROX_GATEWAY:-192.168.1.254}"

      #OPNsense settings
      SAFE_LAN_PREFIX: "${SAFE_LAN_PREFIX:-192.168.1}"
      SAFE_LAN_BIT_COUNT: "${SAFE_SUBNET_BIT_COUNT:-24}"
      SAFE_LAN_FW_HOST: "${SAFE_LAN_FW_HOST:-${SAFE_LAN_PREFIX}.254}"
      SAFE_SENSE_PWD: "${SAFE_SENSE_PWD:-UseBetterPassword!23}"

    volumes:
      - ./data:/app/data
      - ./certs:/app/certs
      - ./logs:/app/logs
      - ./dist:/app/dist
