services:
  safe-pc:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: safe-pc
    network_mode: host
    restart: unless-stopped
    environment:
      PYTHONUNBUFFERED: "1"
      SAFE_PROX_USER: "${SAFE_USER:-root}"
      SAFE_CIDR: "${SAFE_CIDR:-10.0.2.238/24}"
      SAFE_GATEWAY: "${SAFE_GATEWAY:-10.0.2.1}"
      SAFE_DNS: "${SAFE_DNS:-10.0.2.1}"
      SAFE_TZ: "${SAFE_TZ:-America/New_York}"
      HOST_IP: "${HOST_IP:-10.0.4.2}"

    volumes:
      - ./data:/app/data
      - ./certs:/app/certs
      - ./logs:/app/logs
      - ./dist:/app/dist
