{% extends "layouts/main.html" %} {% block title %}Saved Installers | Safe-PC
Maker{% endblock %} {% block content %}

<div
  class="flex flex-wrap flex-row justify-center items-center min-h-[calc(100vh_-_var(--header-height)_-_58px)] p- gap-10"
>
  {% for job_id in job_ids %}
  <button
    class="group flex flex-col items-center justify-between p-8 bg-gradient-to-br from-slate-900/60 via-slate-950/50 to-black/60 border border-sky-400/40 rounded-2xl hover:bg-slate-800/40 hover:scale-105 transition-all duration-300 shadow-[0_0_25px_rgba(34,211,238,0.25)] hover:shadow-[0_0_45px_rgba(34,211,238,0.65)]"
    data-job-id="{{ job_id }}"
  >
    <h2 class="text-lg text-sky-200 font-medium mb-2 group-hover:text-sky-300">
      ISO {{ job_id[-10:] }}…
    </h2>

    <div class="flex items-center justify-center">
      <div
        class="w-20 h-20 bg-gradient-to-br from-slate-700/70 to-slate-800/70 rounded-full border-4 border-sky-700 shadow-inner flex items-center justify-center group-hover:border-sky-300 group-hover:shadow-[0_0_20px_rgba(34,211,238,0.6)] group-hover:rotate-180 transition-all duration-500"
      >
        <div
          class="w-5 h-5 bg-sky-700 rounded-full border-2 border-slate-500/70 group-hover:bg-sky-400 transition-colors duration-500"
        ></div>
      </div>
    </div>

    <span class="text-sm text-sky-400 mt-4">View & Download</span>
  </button>
  {% endfor %}
</div>
{% endblock %} {% block footer_scripts %}
<script
  src="{{ url_for('static', path='/js/history.js') }}"
  type="module"
></script>
{% endblock %}
